<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huaimikeji.fandianla">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".framework.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PrinterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddPrinterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.SearchPrinterActivity" />

        <provider
            android:name=".model.provider.BTPrinterContentProvider"
            android:authorities="com.huaimiit.fandianla.model.provider.BTPrinterContentProvider"
            android:exported="false"
            android:grantUriPermissions="false" />
    </application>

</manifest>
